@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@layer components {
  .primary-background {
    @apply bg-emerald-400 text-white text-xl;
  }
  .container-light-gray {
    @apply bg-stone-200 border rounded-md text-gray-800;
  }
  .button-primary {
    @apply bg-orange-300;
  }
}

@layer components {
  .urgent {
    @apply bg-red-300 hover:bg-red-400 !important;
  }
  .urgentSelected {
    @apply bg-red-600 hover:bg-red-700 !important;
  }

  .completed {
    @apply bg-lime-300 hover:bg-lime-400 !important;
  }
  .completedSelected {
    @apply bg-lime-600 hover:bg-lime-700 !important;
  }

  .today {
    @apply bg-yellow-200 hover:bg-yellow-300 !important;
  }
  .todaySelected {
    @apply bg-yellow-500 hover:bg-yellow-600 !important;
  }

  .future {
    @apply bg-sky-200 hover:bg-sky-300 !important;
  }
  .futureSelected {
    @apply bg-sky-500 hover:bg-sky-600 !important;
  }

  .unselected {
    @apply bg-gray-100 hover:bg-gray-200 !important;
  }
}


.clickable-date {
  cursor: pointer;
}
